[Unit]
Description=Worker Service
After=network.target

[Service]
ExecStart=/usr/bin/java -jar worker-jar-with-dependencies.jar
Restart=always
User=root
Group=root
Environment=PATH=/usr/bin:/usr/local/bin
Environment=REDIS_HOST={{ redis_host }}
Environment=REDIS_PASSWORD={{ redis_password }}
Environment=POSTGRES_HOST={{ postgres_host }}
Environment=POSTGRES_PORT={{ postgres_port }}
Environment=POSTGRES_DB={{ postgres_db }}
Environment=POSTGRES_USER={{ postgres_user }}
Environment=POSTGRES_PASSWORD={{ postgres_password }}
WorkingDirectory=/opt/app/target

[Install]
WantedBy=multi-user.target
